* {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #d4e4e5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #99adae;
}
.page {
  display: flex;
  // margin: auto;
  flex-direction: column;
  min-height: 100vh;
}
